.tree-wrap {
  position: relative;
  padding-top: 52px;
}
.tree-org-node__text {
  text-align: left;
  font-size: 14px;
  .custom-content {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid currentColor;
  }
}
.detail{
  display: flex;
  flex-direction: column;
  .search {
    padding:1px 2px;
  }
  .content-card {
    background: #FFFFFF;
    margin: 0 2px 2px 2px;
    flex-grow: 1;
  }
}
.card{
  margin: 2px 2px;
}
.analysis{
  display: flex;
  justify-content: space-between;
  .card-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
  .analysis-content{
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    .text{
      text-align: start;
      font-size: 14px;
      padding:2px;
    }
    .img{
      width: 100%;
    }
    .table{
      width: 100%;
    }
  }
}
@media(min-width: 768px) {
  .left {
    width: calc(32% - 10px);  /*左侧初始化宽度*/
    height: 100%;
    background: #FFFFFF;
    float: left;
  }
  /*拖拽区div样式*/
  .resize {
    cursor: col-resize;
    float: left;
    position: relative;
    top: 45%;
    background-color: #d6d6d6;
    border-radius: 5px;
    margin-top: -10px;
    width: 8px;
    height: 50px;
    background-size: cover;
    background-position: center;
    /*z-index: 99999;*/
    font-size: 28px;
    color: white;
  }
  /*拖拽区鼠标悬停样式*/
  .resize:hover {
    color: #444444;
  }
  /*右侧div'样式*/
  .mid {
    float: left;
    width: 100%;   /*右侧初始化宽度*/
    height: 100%;
    background: #fff;
    box-shadow: -1px 4px 5px 3px rgba(0, 0, 0, 0.11);
  }
  .tree-view {
    height: 100%;
    display: flex;
    .tree {
      min-width: 35%;
      height: 100%;
    }
    .detail {
      min-width: 30%;
      height: 100%;
    }
  }
}
@media(max-width: 768px) {
  .tree-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    .tree {
      width: 100%;
      height: 50%;
    }
    .detail {
      width: 100% !important;
      height: 50%;
    }
    .resize{
      display: none;
    }
  }
}
.tree-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 52px;
  .zm-tree-org{
    padding: 0;
  }
}
.search-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 15px;
  position: absolute;
  top: 0;
  left: 0;
  input {
    width: 200px;
    height: 32px;
    border:1px solid #ddd;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
  }
}
.tree-org-node__text {
  text-align: left;
  font-size: 14px;
  .custom-content {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid currentColor;
  }
}
.float-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  z-index: 10;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.48); /* 添加阴影效果 */
  }
}